.badge {
  color: white;
  font-size: 15px;
}
.hidden {
  width: 300px;
  background-color: #fff;
}
.list {
  list-style: none;
}
.list .item {
  text-decoration: none;
  height: 30px;
  padding: 0px;
  padding-left: 20px;
  line-height: 30px;
  border: 1px solid #ddd;
}
.list .item:hover{
  background-color: #037BFE;
  color: white;
  cursor: pointer;
}
