.Recommend-vis {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;

  padding: 10px;
  padding-left: 20px;
  margin-left: 10px;
  height: 596px;
  width: 600px;
  font-size: 15px;
}
.Recommend-vis .row {
  display: flex;
  margin-bottom: 10px;
}
.Recommend-vis .name {
  flex: 6;
  width: 200px;
  margin-left: 5px;
}
.Recommend-vis .row .colorbox {
  background-color: transparent;
  flex: 3;
  text-align: right;
  color: white;
}
.Recommend-vis .row .colorbox .color {
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  padding-right: 10px;
}
